.odd-number {
    background-color: rgb(255, 178, 178);
    font-family: Verdana, DejaVu Sans, sans-serif
}

#second-element {
    color: rgb(92, 92, 215);
    font-size: 36px;
}

.odd-number.third-element {
    font-size: 24px;
}

#fourth-element {
    background-color: rgb(162, 255, 138);
    font-size: 24px;
    font-weight: bold;
}