.first-button {
    background-color: rgb(58, 107, 182);
    color: hsl(0, 0%, 100%);
}

.second-button {
    background-color: #cbdafc;
}

.first-button,
.second-button {
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
}